<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label class="required"> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

	<div class="field">
	<label class="required"> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label class="required"> Phone Number </label>
          <input type="text" name="phone"
                 pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                 ng-model="user.profile.phone">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label class="required"> School </label>
	  <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label class="required"> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label class="required">Graduation Year</label>
	  <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="Graduate">Graduate Student</option>
	    <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
	    <option value="Highschool">Highschool</option>
	  </select>
        </div>
        <div class="field" ng-show="!autoFilledMajor">
          <label class="required"> Major </label>
          <input class="ui input"
                 ng-model="user.profile.major">
        </div>


        <div class="field">
          <label class="required">Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="Z">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label class="required">Race</label>
          <select
            name="race"
            ng-model="user.profile.race">
            <option value="N">American Indian or Alaskan Native</option>
            <option value="A">Asian</option>
            <option value="B">Black or African-American</option>
            <option value="H">Hispanic or Latino</option>
            <option value="I">Native Hawaiian or other Pacific Islander</option>
            <option value="W">White or Caucasian</option>
            <option value="T">Two or more races</option>
            <option value="Z">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label class="required">How many hackathons have you participated in?</label>
          <select
            name="participationCount"
            ng-model="user.profile.participationCount">
            <option value="N">0</option>
            <option value="S">1-3</option>
            <option value="M">4-6</option>
            <option value="L">7+</option>
          </select>
        </div>

        <div class="field">
          <label> Resume  </label>
          <p>
            Upload a resume. PDF only!
          </p>
	  <p style="font-weight: normal; font-size: 75%"><i>Note: Resume are optional, but highly encouraged for your application.</i></p>
          <input 
            type="file"
            name="resume"
            accept="application/pdf"
            ng-model="user.profile.resume"
            onchange="angular.element(this).scope().uploadResume(this.files)"
            >
        </div>

        <div class="field">
          <label> LinkedIn </label>
          <input type="text"
                 name="linkedIn"
                 ng-model="user.profile.linkedIn">
        </div>

        <div class="field">
          <label> GitHub </label>
          <input type="text"
                 name="github"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
		<label> Any other sites you want to share? </label>
          <input type="text"
                 name="otherSites"
                 ng-model="user.profile.otherSites">
        </div>

        <div class="field">
          <label class="required">Any dietary restrictions?</label>
          <select
            name="diet"
            ng-model="user.profile.diet">
            <option value="N">None</option>
            <option value="T">Vegetarian</option>
            <option value="V">Vegan</option>
            <option value="G">Gluten Free</option>
            <option value="D">Dairy Free</option>
            <option value="A">Nut Allergy</option>
            <option value="K">Kosher</option>
            <option value="H">Halal</option>
            <option value="O">Other</option>
          </select>
        </div>

	<br>
	<p class="line"></p>
	<label><b>This year’s PickHacks is all about entertainment, so please entertain us by answering these questions:</b></label>
	<div class="field">
          <label class="required">If you could be a fictional character for a day, who would you be and what would you do?</label>
                 <textarea
		 name="fiction"
	  	ng-model="user.profile.superbowl"></textarea>
        </div>

        <div class="field">
          <label class="required">Got any games? Tell us about your favorite video/board/party game and why you love it.</label>
	  <textarea
		 name="game"
	     ng-model="user.profile.game"></textarea>
        </div>
	<br>
	<p class="line"></p>
        <div class="field">
          <label class="required">How did you hear about PickHacks?</label>
          <select
            name="discoveryMethod"
            ng-model="user.profile.discoveryMethod">
            <option value="W">Word Of Mouth</option>
            <option value="M">Social Media (Instagram, Twitter, FB, etc.)</option>
            <option value="H">MLH Website</option>
            <option value="E">E-mail</option>
            <option value="S">School Organization</option>
            <option value="P">Professor / Class</option>
            <option value="I">Internet Search</option>
            <option value="O">Other</option>
          </select>
        </div>

        <div class="field"
	     ng-hide="codeAgreement">
		<p class="required">Code of Conduct:</p><p></p>
          <div class="ui checkbox">
            <input type="checkbox" id="codeAgreement" ng-model="user.profile.codeAgreement">
	    <label for="codeAgreement">I have read and agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct.</a></label>
          </div>
        </div>

        <div class="field"
             ng-hide="dataAgreement">
          <p class="required">Privacy Policy/Terms & Conditions:</p><p></p>
	  <p style="font-weight: normal;">I authorize you to share my application/registration information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, 		and occasional messages about hackathons in-line with the MLH Privacy Policy. I further I agree to the terms of both the
	  <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions"> MLH Contest Terms and Conditions</a> and the 
	  <a href="https://mlh.io/privacy">MLH Privacy Policy.</a></p>
          <div class="ui checkbox">
            <input type="checkbox" id="dataAgreement" ng-model="user.profile.dataAgreement">
            <label for="dataAgreement">I agree.</label>
          </div>
        </div>
	<br>
	<div class="field">
                 <p>Are you an Adult?</p><p></p>
        </div>
        <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
        </div>
	<br>
	<br>
	<br>

	<div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
