#admin {
  .label {
    margin-bottom: 6px;
  }

  .page.button {
   	  background : white !important;
	  margin-bottom: 6px;
  }

  #table-container {
    overflow-x: auto;
  }
	
  a {
	  color: black !important;
  }
  table.users {
th{
	color:blue;
}

    tr {
      cursor: pointer;
      &.admin {
        background: lighten($brand-secondary, 50%) !important;
        &:hover {
          background: lighten($brand-secondary, 45%) !important;
        }
      }
    }

  }
}
