#sidebar{
    height:100%;
    position:fixed;
    background:#7A9E9F;
    font-weight: bold;
    color:#FFF;
    width:265px;
    z-index:999;
    overflow:auto;
    -webkit-transition-duration:.5s;
    transition-duration:.5s
}
#sidebar .item{
    width:100%;
    padding:16px;
    transition-duration:.1s;
    transition:border-left,.5s,linear;
    border-bottom:1px solid #3ebc92;
    opacity:.7;
    border-left:0 solid transparent
}
#sidebar .item.active{
    background:#4F6367;
    opacity:1;
    border-left:8px solid #4F6367
}
#sidebar .item:hover{
    cursor:pointer;
    background:#3ebc92;
    opacity:1
}
#sidebar .item:active{
    background:#4F6367;
    opacity:1
}
#sidebar .item.logo{
    opacity:1;
    padding:48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sidebar .note{
    font-size:.8em;
    text-align:center;
    padding:16px;
    left:0;
    right:0;
    bottom:16px
}
#sidebar+.tab{
    position:fixed;
    width:55px;
    height:55px;
    background:#32e550;
    top:12px;
    z-index:9999;
    visibility:hidden;
    opacity:0;
    -webkit-transform:translate3d(265px,0,0);
    transform:translate3d(265px,0,0);
    -webkit-transition-duration:.5s;
    transition-duration:.5s;
    cursor:pointer
}
#sidebar+.tab .close{
    color:#fff;
    font-size:2em
}
@media only screen and (max-width:768px){
    #sidebar{
        -webkit-transform:translate3d(-265px,0,0);
        transform:translate3d(-265px,0,0)
    }
    #sidebar.open{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    #sidebar.open+.tab{
        -webkit-transform:translate3d(265px,0,0);
        transform:translate3d(265px,0,0);
        line-height:55px;
        text-align:center;
        padding:0
    }
    #sidebar+.tab{
        visibility:visible;
        opacity:1;
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        padding:12px
    }
}
