.verify.page{
    padding-top:4em
}
.verify.page .segment{
    padding:36px;
    padding-top:70px;
    max-width:300px;
    margin:0 auto;
    text-align:center
}
.verify.page .segment .icon{
    font-size:5em;
    margin-bottom:36px
}
